<div id="wrapper">
    <!-- Sidebar -->
    <div ui-view="navbar-game-finder"></div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>
        <div class="container">
            <div ui-view="gamelist"></div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>