<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
                Search
            </a>
        </li>
        <li>
            <div id="custom-search-input">
                <input ng-model="search.name" type="text" class="  search-query form-control" placeholder="Search by Name" />
            </div>
        </li>
        <li>
            <a href="#"><i class="fa fa-sort-amount-desc"></i> Newest</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-sort-alpha-asc"></i> Alphabetical</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-sort-alpha-desc"></i> Alphabetical (Inverse)</a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-television"></i> Console <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">All</a></li>
                <li><a href="#">PS3</a></li>
                <li><a href="#">PS4</a></li>
                <li><a href="#">Xbox 360</a></li>
                <li><a href="#">Xbox One</a></li>
                <li><a href="#">PC</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-tag"></i> Genre <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">All</a></li>
                <li><a href="#">Action</a></li>
                <li><a href="#">Adventure</a></li>
                <li><a href="#">FPS</a></li>
                <li><a href="#">Sports</a></li>
                <li><a href="#">Horror</a></li>
                <li><a href="#">RPG</a></li>
                <li><a href="#">Fight</a></li>
                <li><a href="#">Survival</a></li>
            </ul>
        </li>
    </ul>
</nav>